<!DOCTYPE html>
    {% load staticfiles %}
<html>
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>

<div class="bottomButtons">
	<div class="bottomButton"><a href="/manager/faq/" style="color: black; text-decoration: none;">FAQ</a></div>
  <div class="bottomButton"><a href="/manager/contact/" style="color: black; text-decoration: none;">Contact Us</a></div>
</div>

<div class="topButtons">
	<div class="topButton"><a href="login/" style="color: black; text-decoration: none;">Login</a></div>
    <div class="topButton"><a href="signup/individual/" style="color: black; text-decoration: none;">Sign up Individual</a></div>
    <div class="topButton"><a href="signup/team/" style="color: black; text-decoration: none;">Sign up Team</a></div>
</div>

<div class="topbar"></div>
<div class="bottombar"></div>

<div class="title">
    {% block title_block %}
    <title> PickUp - {block title_block %}</title>
    {% endblock %}
</div>

<div class="copyright">2023 PickUp Football Inc. all rights reserved</div>

<div class="main">
    {% block body_block %}
    {% endblock %}
</div>
   
</body>
</html> 
