{% extends 'manager/base.html' %}
{% load static %}

{% block title_block %}
    Contact
{% endblock %} 
   
{% block body_block %}
    <h3>Contact information</h3>
    <p>If you have any questions, you can reach us at:
        <ul>
            <li>Instagram: @pickupFootballWeb</li>
            <li>Twitter: @pickupFootballManager</li>
            <li>Email: pickupfootie.contact@gmail.com</li>
        </ul>
    We are a team of friendly people and always happy to respond to any queries.
    </p>

{% endblock %}