{% extends 'manager/base.html' %}
{% load staticfiles %}

{% block title_block %}
    FAQ
{% endblock %} 
   
{% block body_block %}
    <p>
        Q: WHAT CAN I DO IF I'M NOT IN A TEAM BUT WANT TO PLAY MATCHES? <br>
        ANS: our website allows you to search for teams that you would like to apply to join. Once the team have reviewed
        your application, they may accept you onto the team and then you can start playing matches.
        <br>
        <br>
        Q: HOW DO I MAKE SURE THAT I'M PLAYING AGAINST TEAMS OF THE CORRECT ABILITY? <br>
        ANS: our leaderboard view allows you to see how all the registered teams are ranked. You can use this to figure out
        what teams match your ability and would make an exciting match.
        <br>
        <br>
        Q: I'M CAPTAIN OF A TEAM AND I WANT TO JOIN THIS SITE, HOW DO I DO IT? <br>
        ANS: you can create team account using the 'sign up team' button. As the captain, you will have control of this account,
        and you will then be able to add your current players and accept new ones.
        <br>
        <br>
        Q: HOW DO I ORGANISE A MATCH AGAINST ANOTHER TEAM? <br>
        ANS: you can find teams to play against using the search function or by looking through the leaderboard. Once you've found a team,
        you can use the 'request a match' button to send your request. Our website helps to get teams in touch and if the other team accepts the request,
        then you can share details to organise the timings and location.

    </p>

     <a href="{% url 'manager:index' %}" class="btn btn-success">Back to home</a>
    {% endblock %}
