{% extends 'manager/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block head_imports %}
    <link rel="stylesheet" href="{% static 'css/table_counter.css' %}" />
{% endblock %}

{% block body_block %}
    <img src="{% static 'images/footballer2.jpg' %}" alt="footballer kicking a ball" />
    <br/>
    <br />
    {% if teams %}
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h2>Current top teams</h2>
    </div>
    <table class="table table-hover">
    <thead class ="table-primary">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Team Name</th>
            <th scope="col">Win rate</th>
        </tr>
    </thead>
    <tbody class="table-group-divider table-success">
        {% for team in teams %}
        <tr>
          <td class="count"></td>
          <td> <a href="{% url 'manager:view_team' team.slug %}" class="link-success">{{ team.team_name }}</a></td>
          <td>{{ team.win_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}

{% endblock %}