{% extends 'manager/base.html' %}
{% load static %}

{% block title_block %}
    Leaderboard
{% endblock %}

{% block head_imports %}
    <link rel="stylesheet" href="{% static 'css/table_counter.css' %}" />
{% endblock %}

{% block body_block %}
    {% if teams %}
<!--    <ol>-->
<!--        {% for team in teams %}-->
<!--        <li><a href="/manager/search_teams/{{ team.slug }}" style="color: black; text-decoration: none;"> {{ team.team_name }}</a> - {{ team.win_rate }}</li>-->
<!--        {% endfor %}-->
<!--    </ol>-->
    <table class="table table-hover">
    <thead class ="table-primary">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Team Name</th>
            <th scope="col">Win rate</th>
        </tr>
    </thead>
    <tbody class="table-group-divider table-success">
        {% for team in teams %}
        <tr>
          <td class="count"></td>
          <td> <a href="{% url 'manager:view_team' team.slug %}" class="link-success">{{ team.team_name }}</a></td>
          <td>{{ team.win_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
    
{% endblock %}
