{% extends 'manager/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register a team
    {% endblock %} 
   
{% block body_block %}
    



{% if registered %}
<strong>thank you for registering!</strong>
{% else %}
<strong>register here!</strong><br />
<form id="team_form" method="post" action="{% url 'manager:signup_team' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ team_form.as_p }}
    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}

<li>Click <a href="{% url 'manager:index' %}">Here</a> to return to the homepage</li>





{% endblock %}





