{% extends 'manager/base.html' %}
{% load static %}

{% block title_block %}
    Register a team
    {% endblock %} 
   
{% block body_block %}


    {% if registered %}
    <strong>thank you for registering!</strong>
    {% else %}
    <strong>register here!</strong><br />
    <div class="form-group">
        <form id="team_form" method="post" action="{% url 'manager:signup_team' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ team_form.as_p }}
            <input type="submit" class="btn btn-outline-primary" name="submit" value="Register" />
        </form>
    </div>
    {% endif %}



{% endblock %}





