{% extends 'manager/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ team.team_name }}
{% endblock %}

{% block body_block %}
    

    <img src="{% static 'images/test.jpg' %}" alt="A temporary logo for testing" />
    <br/>
    
    {% if team %}
    <h2>{{ team.team_name }}</h2>
    <img src="{{ team.logo }}" alt="{{ team.team_name }}'s logo">
    <ul>
        <li>Location: {{ team.location }}</li>
        <li>Age Range: {{ team.age_range }}</li>
        <li>Win Rate: {{ team.win_rate }}</li>
        <li>{{ team.bio }}</li>
    </ul>
    <h2><a href="/manager/search_teams/{{ team.slug }}/match_request">Request a match</a></h2>
    {% endif %}
    <h1> <a href="{% url 'manager:index' %}">Back</a> to homepage</h1>
    
    
{% endblock %}