{% extends 'manager/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ team.team_name }}
{% endblock %}

{% block body_block %}

    <br/>
    
    {% if team %}
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
       <h2>{{ team.team_name }} I'm going to make this look cool with a CSS template</h2>
    </div>
    <img src="{{ team.logo }}" alt="{{ team.team_name }}'s logo">
    <ul>
        <li>Location: {{ team.location }}</li>
        <li>Age Range: {{ team.age_range }}</li>
        <li>Win Rate: {{ team.win_rate }}</li>
        <li>{{ team.bio }}</li>
    </ul>
    <h2><a href="/manager/search_teams/{{ team.slug }}/match_request">Request a match</a></h2>
    {% endif %}
    <h1> <a href="{% url 'manager:index' %}" class="btn btn-success">Back</a> to homepage</h1>
    
    
{% endblock %}